@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  
}
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Goride Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}